.headerPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerPrincipal-nav{
    display: flex;
}
.rodapePrincipal-patrocinadores .container{
    display: flex;
}
.rodapePrincipal-patrocinadores-list{
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}