.headerPrincipal .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.headerPrincipal-nav{
    display: flex;
}
.rodapePrincipal-patrocinadores .container{
    display: flex;
}
.rodapePrincipal-patrocinadores-list{
    width: 75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
.rodapePrincipal-contatoForm-fieldset{
    display: flex;
}
.rodapePrincipal-navMap-list{
    height: 16rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.contenidoPrincipal-cursos{
    display: flex;
    flex-wrap: wrap;
    gap:10px;
  
}
.contenidoPrincipal-cursos-link{
    display: flex;
    width: 23%;

}
.videoSobre .container{
    display: flex;
    gap: 20px;
}
.videoSobre-sobre{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.videoSobre-sobre-list{
    flex-grow: 2;
}
.videoSobre-video{
    flex-grow: 2;
    flex-shrink: 2;

}
/* mobile 768*/
@media (max-width: 420px) {

.headerPrincipal .container{
    flex-direction: column;
    align-items: initial;
    text-align: center;
}
.headerPrincipal-nav{
    flex-direction: column;
    
}

.contenidoPrincipal-cursos{
    flex-direction: column;
}
.contenidoPrincipal-cursos-link{
    width: 100%;
}
.rodapePrincipal-navMap-list{
    height: auto;
    flex-wrap: nowrap;
}
.rodapePrincipal-patrocinadores .container{
    flex-direction: column;
}
.rodapePrincipal-patrocinadores-list{
    align-items: center;
    width: 100%;
    margin: 0; 
}
.rodapePrincipal-contatoForm{
    width: 100%;
}
.rodapePrincipal-contatoForm-fieldset{
    justify-content: center;
}
.headerPrincipal-nav-link-app{
    order:-1;
}
.videoSobre .container{
flex-direction: column;
}
}